<app-header></app-header>
 
 <!---
 
<lib-my-grid [gridContent]=mygridcontent></lib-my-grid>
<br><br><br><br><br><br><br>
<lib-table [tabledata]=mytabledata ></lib-table>
<br><br>
<lib-my-linechart [linedata]=mylinedata></lib-my-linechart>
<br><br>
<lib-my-pie [pieContent]=mypiecontent></lib-my-pie>
<br>
<lib-my-bar [barcontent]=mybarcontent></lib-my-bar>
<br>
<lib-my-toolbar [tooldata]=mytoolbardata [appname]=myappname></lib-my-toolbar>
<br>
<lib-my-weather [weatherdata]=myweatherdata  ></lib-my-weather> 
<br>
<lib-my-display [displaydata]=mydisplaycontent></lib-my-display>
<br><br>
<lib-my-areachart [areadata]=myareadata ></lib-my-areachart>
<br>
<lib-my-progress [p]=myprogress></lib-my-progress>
<br>
 -->
 

 
 <router-outlet></router-outlet>

 