<div class="headerbar">
<mat-toolbar style="background-color: rgb(37, 35, 35);color: white;font-family:cursive;">
    &nbsp;&nbsp;&nbsp;
    <br>
    <a mat-button routerLink='/home' routerLinkActive="active">Home</a><br>
    <a mat-button routerLink='/grid' routerLinkActive="active">Grid</a><br>
    <a mat-button routerLink='/table' routerLinkActive="active">Table</a><br>
    <a mat-button routerLink='/line' routerLinkActive="active">LineChart</a><br>
    <a mat-button routerLink='/pie' routerLinkActive="active" >Pie</a><br>
    <a mat-button routerLink='/bar' routerLinkActive="active" >Bar</a><br>
    <a mat-button routerLink='/toolbar' routerLinkActive="active">Toolbar</a><br>
    <a mat-button routerLink='/weather' routerLinkActive="active">Weather</a><br>
    <a mat-button routerLink='/display' routerLinkActive="active">Display</a><br>
    <a mat-button routerLink='/area' routerLinkActive="active">AreaChart</a><br>
    <a mat-button routerLink='/progress' routerLinkActive="active">Progress</a><br>
</mat-toolbar>
</div>