<br><br>
 <h2 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;text-align: center;color: rgb(14, 14, 17);font-weight: lighter;">LineChart Component</h2><br>
 <div class="whole" fxLayout="row" fxLayoutGap="20px">
     <div class="lib" fxFlex="750px">
        <lib-my-linechart [linedata]=mylinedata></lib-my-linechart>
     </div>

    <div class="matter" >
          <p>LineChart component displays two series data as a chart.
            Name,data and colour of each series must be specified.
            The categories and other details like that 
            title of the chart,categories of X and Y axis should be given.
            The component then displays a line chart as per specified details.
          </p>
    </div>
</div>

<div class="mattabs" style="margin: 0 auto;">
  <mat-tab-group >
    <mat-tab label="HTML">
      <div style="background-color:rgb(27, 26, 26);">
        <code>
          <pre style="margin: 20px;font-size:15px;color: white;">
            {{htmlcode}}
          </pre>
        </code>
      </div>
    </mat-tab>
   
    <mat-tab label="TS" >
      <div style="background-color:rgb(27, 26, 26);">
        <code>
          <pre style="margin: 20px;font-size:15px;color: white;">
            {{tscode}}
          </pre>
        </code>
      </div>
    </mat-tab>
  
    <mat-tab label="SCSS" >
      <div style="background-color: rgb(27, 26, 26);">
        <code>
          <pre style="margin:20px;font-size:15px;color: white;">
            {{scsscode}}
          </pre>
        </code>
      </div>
    </mat-tab>
  
  
  </mat-tab-group>
  </div>